body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
.title {
    color: #102a42;
    text-transform: capitalize;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

/* special words */
span {
    font-weight: bolder;
    text-transform: uppercase;
}
h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
}
.text-title {
    font-size: .97rem;
    color: #555;
    padding: 0 1rem;
    line-height: 1.7rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

/* artical center */
.about-center {
    width: 90%;
    margin: 0 auto;
}
/* image container */
.pic {
    display: block;
    box-shadow: 1px 1px 3px gray;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    object-fit: cover;
}
img {
    display: block;
    width: 100%;
    object-fit: fill;
    border-radius: 8px;
    transition: all .3s ease-in-out;  
}
img:hover{
    cursor: pointer;
    opacity: 0.90;
   transform: translateY(-1px);
}

/* about */
.about {
    border-radius: 6px;
    box-shadow: 1px 1px 2px #a1a1a1;
    background-color: #fff;
}

/* button container */

.btn-container {
    text-align: center;
    background-color: #7fffd4f6;
    width: 100%;
    display: flex;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding:0;
    margin: 1rem 0 0 0;
    box-sizing: border-box;
}
/* title charge */
.charge {
    text-align: center;
    text-transform: capitalize;
    color:#102a42;
}

/* list items 
.offer-id {
  
} */
.list-items {
    padding: 0;
    list-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
}

li {
    padding: .2rem 0;
    margin: 0;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #333333;
    transition: all .5s;
}

a:hover {
    letter-spacing: 2px;
}

/* diamond img */
.diamond {
    width: 18px;
    margin: 0 .2rem;
    display: inline-block;
}

.tab-btn {
    width: 33.33%;
    margin:0 ;
    background-color: aquamarine;
    font-weight: bold;
    letter-spacing: 1px;
    color: #102a42;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}
/* btn right left radius */
.btn-l {
    border-top-right-radius: 8px;
}
.btn-r {
    border-top-left-radius: 8px;
}
/* hover effect */
.tab-btn:hover {
    background-color: #2edba7;
    color:azure;
}

/* about content */
.about-content {
    padding: 1rem;
}
h4 {
    color:#102a42;
    letter-spacing: 2px;
    text-transform: capitalize;
}
/* content hide default */
.content {
    color: #555;
    display: none;
}
 /* active btn */
.active-btn {
    background-color:  #cafaece3;
    letter-spacing: 5px;
}

/* show content */
.active {
    display: block;
}

/* footer */
footer {
    margin-top: 9rem;
    background-color: #102a42 ;
    text-align: center;
    text-transform: capitalize;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-center {
    color: #999;
}

/* media query 768px */
@media screen and (min-width: 768px){

    .title {
        width: 80%;
        margin: 0 auto;
    }
    h1 {
        font-size: 2rem;
    }

    .about-center {
        width:80%;
        margin: 0 auto;
    }

}

/* media query 1000px */
@media screen and (min-width: 1000px){

    .about-center {
        display: flex;
        width: 90%;
        padding: 0 1rem;
        height: 100%;
    }
    .pic {
        margin-top: 1rem;
        padding: 0rem;
        width: 410px;
        margin: 1rem auto;
    }
    img {
        width: 100%;
        height: 260px;
    }

    /* offer */
    .offer-id {
        padding-top: 0;
        margin-top: 0;
        height: 100%;
    }
    h4 {
        margin: 0;
    }

    /* diamond img */
    .diamond {
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    .tab-btn {
        letter-spacing: 2px ;
    }

    .about {
        width: 48%;
        height: 100%;
        margin: 0 auto;
    }
    .footer-center {
        letter-spacing: 1px;
    }
}

/* media at 1200px */
@media screen and (min-width: 1150px){

    .title {
        width: 960px;
    }
    .text-title {
        padding: 0 8rem;
    }

    .about-center {
        width: 964px;
        margin: 0 auto;
    }
    .about {
        width: 450px;
        margin: 0 auto;
    }

}